body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  /*background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%); */
  /* w3c */
}

button {
  cursor: pointer;
}

.zone {
/*	padding: 30px 50px;
	margin: 30px 50px;*/
	cursor: pointer;
	/*display: inline-block;*/
	color: #FFF;
	/*font-size: 2em;*/
	/*border-radius: 4px;*/
	/*border-right: 1px solid #BBB;*/
	transition: all 0.3s linear; 
}

.zone:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/* NAV */
.main-nav {
	display: flex;
	list-style: none; /*remove bullets*/
	font-size: 3vh;
	margin: 0;
	/*max-height: 100px;*/
}

/*on main screen if window size is below 600px change below properties*/
/*@media only screen and (max-width: 600px) {
	.main-nav {
		font-size: 0.5em;
		padding: 0;
	}
}*/

.push {
	margin-left: auto; /*adds margins on the left so that the li element is pushed to the right edge*/
}

li {
	padding: 2vh; 

}

a {
	color: #F5F5F6;
	text-decoration: none; /*remove underlines of the links*/
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}






/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green{
    background: #56B870; /* Old browsers */
    background: linear-gradient(to bottom, #56B870 0%,#a5c956 100%); /* W3C */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background: #C655BE; /* Old browsers */
    background: linear-gradient(to bottom, #C655BE 0%,#cf0404 100%); /* W3C */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: #F3AAAA; /* Old browsers */
    background: linear-gradient(to bottom, #F3AAAA 0%,#febf04 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #7abcff; /* Old browsers */
    background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

/***********************************************************************
 *  Purple Background
 **********************************************************************/
.purple {
    background: #A88BEB; /* Old browsers */
    background: linear-gradient(to bottom, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* W3C */
}

/***********************************************************************
 *  Brown Background
 **********************************************************************/
.brown {
    background: #f6e6b4; /* Old browsers */
    background: linear-gradient(to bottom, #f6e6b4 0%,#ed9017 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}